body {
  background-color: #d8d2cb;
  font-family: Verdana, sans-serif;
  color: #3a3845;
  line-height: 1.5;
}

.heading {
  font-family: Helvetica, sans-serif;
  font-size: 3.5rem;
  text-align: center;
  color: #1c658c;
  margin-bottom: 2rem;
}

.recipe-list {
  text-align: center;
}

.recipe-links {
  text-decoration: none;
  color: #3a3845;
  line-height: 2rem;
}

.description-heading {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

.description-summary {
  text-align: center;
  margin-bottom: 1rem;
}

.list-heading {
  color: #1c658c;
  margin-bottom: 1rem;
}

.ingredients-list {
  margin-left: 2rem;
  list-style: disc;
}

.step-list {
  margin-left: 2.3rem;
  list-style: decimal;
}

.ingredients-list,
.step-list {
  margin-bottom: 1rem;
}

/* Lasagna Page Styles */

.lasagna-img {
  width: 400px;
  height: 450px;
  display: block;
  margin: 0 auto;
}

/* Salmon Page Styles */

.salmon-img {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Pancakes Page Styles */

.pancakes-img {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}
